body {
  background-color: #F5EFE6;
}

h1{
  color: #7895B2;
}

h2{
  color: #7895B2;
}

hr {
  background-color: #F5EFE6;
  border-style: none;
  border-top: dotted;
  border-color: #7895B2;
  width: 10%;

}
